# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.2021-LostAndFound.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Godot\GlobalGameJam\2021\2021-LostAndFound\.idea\.idea.2021-LostAndFound\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
